@font-face {
    font-family: 'HeaderFont';
    src: url('./JosefinSans-VariableFont_wght.ttf') format(truetype);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ContentFont';
    src: url('./TitilliumWeb-Regular.ttf') format(truetype);
    font-weight: 400;
    font-style: normal;
}

:root {
    --light-color: #bbe4e9;
    --dark-color: #79c2d0;
}

* {
    margin: 0;
    padding: 0;
}

#content {
    height: 100vh;
    background-color: var(--light-color);
    display: grid;
    grid-template-rows: 60px 1fr 30px;
}

.header {
    padding: 0px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'HeaderFont';
    font-size: 24px;
}

.logo {
    height: 50px;
    width: auto;
    flex: none;
}

.headerText{
    flex: 1;
}

.main {
    font-family: 'ContentFont';
}

img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
    object-position: 50% 40%;
}

p {
    margin: 24px;
    text-align: center;
    
}

.footer {
    background-color: var(--dark-color);
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: 'ContentFont';
    font-size: 12px;
}

